@charset "utf-8";
@import "base.css";



body
{
    overflow: visible;
    background: #000 url(../Assets/glen-wheeler-gN3oQVVJDYo-unsplash.jpg) center center / cover no-repeat;
}

header
{
    text-decoration: none;
    min-width: 100%;
    overflow: visible;
    justify-content: right;
}

header div
{
    display: flex;
    justify-content: space-between;
     justify-content: flex-end;
}
.title
{
    height: 56px;
}
.title h1 {
    font-size: 26px;
    font-weight: 600;
    color: whitesmoke;
    line-height: 56px;
    letter-spacing: .4px;
    text-transform: uppercase;

}
.hero-banner {
    height:550px;
    text-align: center;
    display: flex;
    align-items: center;
    color: whitesmoke;

    justify-content: center;

   
}

.hero-banner h2 {
    font-size: 46px;
    color: whitesmoke;
    
}
.hero-banner h3{
    font-size: 24px;
    font-weight: 300;
    color: black;

}
.hero-banner hr{
    width: 70%;
    margin-top:70px;
    margin: 0 auto;
    border-top: 3px solid whitesmoke;
}
nav
{

    color: white;
    text-align: right;
    height: 56px;
    text-decoration: none;
    padding-right: 50px;
}
nav ul {
    list-style:none;
    font-size: 0;
    justify-content: flex-end;
}
nav ul li {
    display:inline;
    line-height: 56px;
    cursor:default;
    justify-content: flex-end;
}
nav ul li a {
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 56px;
    letter-spacing: .4px;
    cursor: pointer;
    text-decoration: none;
    justify-content:flex-end;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav ul li + li{
    margin-left:25px;
}









footer
{
    text-decoration: none;
    width: 100%;
    padding: 5px;
    height: 66px;
    overflow: visible;
    

}

main
{

    height: 20px;
    width: 100%;
}
main svg
{

    justify-content: center;
    height: 50px;
    width: 50px;

    
}
.under-footer
{
    background-color: white;
    overflow: hidden;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;

}
.under-footer p{
    height: 100%;
    text-align: center;
}
img
{
    width:50%;
    height: 50%; 
}